---
---
<p class="instructions">PRINT INSTRUCTIONS: Set all print margins to 0.5" before printing! Make sure to "flip on short edge" for 2-sided prints.</p>
<div id="options">
    <h3>Card print Options</h2>

    <strong>Card Side</strong><br>
    <input type="radio" name="side" value="front_back" checked> Front & Back<br>
    <input type="radio" name="side" value="front_only"> Front<br>
    <input type="radio" name="side" value="back_only"> Back
    <br><br>

    <strong>Paper Size</strong><br>
    <select name="size" id="size_opt">
        <option value="size_a">Letter</option>
        <option value="size_5371" selected="selected">Avery 5371 Template</option>
    </select>
    <br><br>

    <strong>Frame color</strong><br>
    <input type="radio" name="border" value="border_black" checked> Black<br>
    <input type="radio" name="border" value="border_white"> White
    <br><br>
    <strong><a href="javascript:window.print()">Print this Page</a></strong>
</div>
<main>
<div class="front">
    {% for card in site.data.cards %}
    {% for i in (1..card.qty) %}
    {% include card.html content=card %}
    <span class="card-spacer"></span>
    {% endfor %}
    {% endfor %}
</div>
<div class="back">    
    {% for card in site.data.cards %}
    {% for i in (1..card.qty) %}
    <div class="card {{card.class}}"><div class="bg-overlay"></div></div>
    <span class="card-spacer"></span>
    {% endfor %}
    {% endfor %}
</div>
</main>